* {
	box-sizing: border-box;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

body {
	margin: 0 auto;
	background-image: url(../../images/bg-body.png);
}

a,
p,
h1,
h2,
h3 {
	font-family: 'Roboto', sans-serif;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/* CONTAINER: El container padre, main, 
como le digan. La landing va de arriba para abajo, 
entonces queremos todos los otros contenedores 
acomodados en una columna (flex-direction: column;)*/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.container {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

header {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 180px;
	border-radius: 90px;
	border: 1px solid #313338;
	margin-top: 20px;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/* La nav no tiene ul, li, ol, nada, no hace falta, 
y mientras menos contenedores y clases tengamos, 
mejor nos podemos ubicar en las lineas de codigo que escribimos. 

Menos es mas. */
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.main-nav {
	display: flex;
	justify-content: space-between;
	/*La nav es una fila de elementos <a>, osea "flex-direction: row;"*/
	flex-direction: row;
	width: 1180px;
	padding: 50px 0px 30px 0px;
}
/*llegamos a los <a> de main-nav y armamos los botones sin agregar button, li, DIV, nada. 
Les dejo un ejemplo de como se hacen animaciones en CSS*/
.main-nav a {
	background-color: #313338;
	text-transform: uppercase;
	padding: 15px 45px 15px 45px;
	/*ANIMACION*/
	transition: transform 0.8s;
	text-decoration: none;
	color: white;
}
/*ANIMACION DE NAVBAR HOVER*/
.main-nav a:hover{
		transform: scale(0.9);
}

.banner {
	display: flex;
	width: 1180px;
	padding-bottom: 30px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*Menu para resoluciones bajas. Por default viene escondido y si se accede
al sitio desde un celular con la resolucion indicada mas abajo, la nav se
esconde y este se activa*/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.nav-menu-lores{
	display: none;
}
.nav-menu-lores a {
	width: 100%;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: white;
	background-color: #313338;
	padding: 10px 110px 10px 110px;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/* SNIPPET DE REDES SOCIALES! */
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.social_snippet {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	position: fixed;
	margin-right: 5px;
	top: 45%;
	z-index: 100;
	background-color: black;
}

.social_snippet a img {
	margin: 10px;
	max-width: 35px;
	align-self: flex-start;
	transition: transform 0.7s;
}

.social_snippet a img:hover {
	transform: scale(1.8);
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/* grilla de productos. Le aplicamos esta clase a la <section> correspondiente.
De nuevo, no necesitamos div de nada, 12 columnas, mas divs, nada*/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.products-grid {
	display: flex;
	width: 1180px;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	align-self: center;
	padding: 0px 0px 20px 0px;
}
/* a cada <article> dentro de la grilla le aplicamos esta clase. Los elementos
van de arriba abajo, de nuevo cambiamos la orientacion por defecto a column*/
.product-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 380px;
	padding-bottom: 30px;
}
/*llegamos a cada elemento de la card de producto con la clase y el tag. 
No necesitamos mas clases ni elementos ni divs ni nada nuevo, a exepcion del
boton VER MAS*/
.product-card img {
	width: 100%;
	box-shadow: 3px 3px rgba(15, 15, 15, 0.3);
}
.product-card h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
}
.product-card a {
	text-decoration: none;
	color: white;
	padding-top: 5px;
}
.button_vermas {
	display: flex;
	justify-content: space-around;
	width: 90px;
	height: 30px;
	background-color: #313338;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*Para el footer ni nos molestamos en crear una clase, trabajamos el mismo 
tag y lo que tenga adentro. Nuevamente, no necesitamos ul, li, div, nada 
fuera de los <a>*/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
footer {
	display: flex;
	width: 1180px;
	height: 120px;
	justify-content: center;
	align-items: center;
	align-self: center;
	flex-direction: row;
	background-color: #c1011b;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

footer a {
	text-decoration: none;
	padding: 0px 30px 0px 30px;
	color: #fff;
	text-transform: capitalize;
	border-right: solid 1px white;
}
footer a:last-child {
	border-right: none;
}

/****************/
/*MEDIA QUIERES*/
/**************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 480px) {

	header{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-self: center;
	}

	.main-nav {
		display: none;
	}

	.banner {
		display: none;
	}

	.social_snippet {
		display: none;
	}

	.logo {
		width: 120px;
	}

	.nav-menu-lores {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		width: 100%;
		margin: 20px 0px 20px 0px;
		padding: 5px;
	}
	.products-grid {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 0px 15px 0px 15px;
	}

	.product-card {
		width: 100%;
		align-self: center;
	}

	.product-card h2 {
		line-height: 10px;
	}

	.button_vermas {
		display: none;
	}

	footer {
		flex-direction: column;
		width: 100%;
		height: 200px;
	}

	footer a {
		border-right: none;
		text-transform: uppercase;
		margin-top: 5px;
		margin-bottom: 5px;
	}

}

/* Tablets ----------- 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}*/

/* Desktops and laptops ----------- 
@media only screen 
and (min-width : 1224px) {

}*/

/* Large screens ----------- 
@media only screen 
and (min-width : 1824px) {

}*/

